#box{
    width: 100%;
    height: 5300px;
    background-color: blueviolet;
}
#box .content{
    width: 1200px;
    height: 100%;
    /* background-color: rgb(202, 212, 199); */
    margin: auto;
}
.header{
    width: 100%;
    height: 82px;
    background-color:  #ffffff;
}
.header1 {
    width: 400px;
    height: 100%;
    /* border: 1px solid red; */
    background: url(../images/logo.png);
    float: left;
}
.header2{
    overflow: hidden;
}
.header2 ul{
    float: right;
    width: 736.5px;
    height:80px;
    line-height: 82px;
    /* border: 1px solid green; */
    /* margin-right: 20px; */
}
.header2 ul>li{
    float: left;
    width:80px;
    height: 100%;
    text-align: center;
    /* border: 1px solid red; */
    margin-right: 11px;
}
.header2 a{
    display: block;
    height:100%; 
    font-size: 13px;
    color: #333333;  
}
.header2 .yingwen{
    display: none;
    text-transform: uppercase;   
}
.header2 li:hover .zhongwen{
    display: none;
}
.header2 li:hover .yingwen{
    display: block;
}

.banner {
    width: 100%;
    height:448px;
    /* background-color: red; */
    background: url(../images/banner.png) center center;
}
.main1{
    width: 100%;
    height: 726px;
    background-color:yellow;
}
.main1  .main1-1{
    width: 568px;
    height: 204px;
    
}
.main1-1 img{
    margin-top: 42px;
    
}
.main1-1 .main1-ct{
    display: block;
    margin-top: 26px;
    margin-right: 1110px
    height: 44px;
    width: 523px;
    white-space: pre-line;
}
.main1 .main1-2{
    width: 1146px;
    height: 444px;
    border: 1px solid red;
    margin: auto;
    margin-top: 56px;
}
.main2 .main1-1{
    width: 100%;
    height: 154px;
    border: 1px solid red;
}
.main2{
    width: 100%;
    height: 764px;
    background-color: gray;
}
.main3{
    width: 100%;
    height: 682px;
    background-color: green;
}
.main4{
    width: 100%;
    height: 800px;
    background-color: rgb(29, 14, 172);
}
.main5{
    width: 100%;
    height: 912px;
    background-color: rgb(95, 61, 64);
}
.main6{
    width: 100%;
    height: 224px;
    background-image: url(../images/main6-blue-bg.png) ;
}
.main6 .content{
    width: 1200px;
    height: 100%;
    /* border: 1px solid red; */
}
.main6 .list{
    float: left;
    width: 399px;
    height: 100%;
    text-align: center;
    border-right: 1px solid #0052a7;
}
.main6 .title{
    font-size: 68px;
    color: #ffffff;
}
.main6 .content1{
    font-size: 17px;
    line-height: 17px;
    margin-top: 22px;
    color: #ffffff;
}
.main6 .top{
    margin-top: 57px;
    position: relative;
}
.main6 .bg-line{
    width: 1000px;
    height: 3px;
    background: url(../images/blue-bg.png) ;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}



.main7{
    width: 100%;
    height: 432px;
    background-color:rgb(144, 13, 156);
}
.footer{
    width: 100%;
    height: 230px;
    background-color: rgb(27, 97, 155);
}