@charset "UTF-8";
html,
body {
  height: 100%;
}

#aiqiyi {
  height: 100%;
  background: #fff;
}

#aiqiyi .aqy-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #271022;
  height: 1.173333rem;
}

#aiqiyi .aqy-header i {
  width: 1.973333rem;
  height: 100%;
  margin-top: .266667rem;
  margin-left: .346667rem;
}

#aiqiyi .aqy-header i .img1 {
  display: block;
  height: .64rem;
  line-height: .64rem;
  margin-top: .133333rem;
}

#aiqiyi .aqy-header .list {
  display: flex;
}

#aiqiyi .aqy-header .list li {
  margin-right: .426667rem;
}

#aiqiyi .aqy-header .list li img {
  display: block;
  height: .533333rem;
}

#aiqiyi .aqy-header .list li:nth-child(3) {
  font-size: .32rem;
  color: #b0b0b0;
}

#aiqiyi .aqy-header .list li:nth-child(4) {
  width: 1.866667rem;
  height: .533333rem;
  font-size: .24rem;
  color: #083f15;
  line-height: .533333rem;
  background: #43d254;
  border-radius: .266667rem;
  text-align: center;
}

#aiqiyi .aqy-nav {
  background: #fff;
}

#aiqiyi .aqy-nav .list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#aiqiyi .aqy-nav .list li {
  font-size: .466667rem;
  color: #343434;
  margin-left: .266667rem;
  position: relative;
}

#aiqiyi .aqy-nav .list li:hover {
  color: #0cbf04;
}

#aiqiyi .aqy-nav .list li:hover::after {
  content: "";
  display: block;
  height: .08rem;
  width: .32rem;
  background: #20bb22;
  position: absolute;
  left: 40%;
  margin-top: .266667rem;
  opacity: 1;
}

#aiqiyi .aqy-nav .list i {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: url(../imges/爱奇艺/images/menu-more-icon.png) no-repeat;
  background-size: 2.6rem auto;
  border-left: .006667rem solid #dbdbdb;
}

#aiqiyi .aqy-nav .list i:hover {
  background-position: -120px 0rem;
}

#aiqiyi .sousuo {
  background: #f7f7f7;
  height: 1.12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#aiqiyi .sousuo .ss {
  position: relative;
}

#aiqiyi .sousuo .ss input {
  width: 9.36rem;
  height: .8rem;
  background: #fff;
  border-radius: .4rem;
  border: .026667rem solid #5c935a;
  display: flex;
  align-items: center;
}

#aiqiyi .sousuo .ss input .placeholder {
  font-size: .333333rem;
  color: #626262;
  line-height: .333333rem;
  margin-left: 3.28rem;
  text-align: center;
}

#aiqiyi .sousuo .ss p {
  width: 1.44rem;
  height: 100%;
  border-radius: 0rem .4rem .4rem 0rem;
  background: #28c82a;
  position: absolute;
  top: 0rem;
  right: 0rem;
}

#aiqiyi .sousuo .ss i {
  height: .373333rem;
  color: #fff;
  position: absolute;
  top: .2rem;
  right: .586667rem;
}

#aiqiyi .aqy-banner {
  height: 5.066667rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

#aiqiyi .aqy-banner i {
  margin-right: .133333rem;
}

#aiqiyi .aqy-banner i img {
  width: 9.2rem;
  height: 4.6rem;
  animation: move 3s step-end 1s infinite reverse forwards;
}

#aiqiyi .aqy-main1 {
  display: flex;
}

#aiqiyi .aqy-main1 .list {
  display: flex;
  align-items: center;
  overflow: auto;
  background: #fff;
}

#aiqiyi .aqy-main1 .list .li1 {
  margin-left: .4rem;
}

#aiqiyi .aqy-main1 .list li {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: .8rem;
  margin-top: .4rem;
  margin-bottom: .4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#aiqiyi .aqy-main1 .list li i img {
  width: 1.173333rem;
  height: 1.173333rem;
}

#aiqiyi .aqy-main1 .list li p {
  font-size: .293333rem;
  font-weight: 600;
  line-height: .293333rem;
  margin-top: .213333rem;
  width: 1.6rem;
  color: #646464;
  text-align: center;
}

#aiqiyi .aqy-main2 {
  background: #fff;
  border-bottom: .013333rem solid #f7f7f7;
}

#aiqiyi .aqy-main2 .list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#aiqiyi .aqy-main2 .list li {
  position: relative;
}

#aiqiyi .aqy-main2 .list li i img {
  width: 4.96rem;
  height: 4.32rem;
}

#aiqiyi .aqy-main2 .list li .content {
  margin: .266667rem 0rem .346667rem .32rem;
}

#aiqiyi .aqy-main2 .list li .content h2 {
  font-size: .346667rem;
  line-height: .346667rem;
  color: #343434;
  font-weight: 600;
}

#aiqiyi .aqy-main2 .list li .content p {
  font-size: .293333rem;
  line-height: .293333rem;
  color: #9b9b9b;
  margin-top: .226667rem;
}

#aiqiyi .aqy-main2 .list li span {
  display: block;
  width: 1.733333rem;
  height: .8rem;
  background: url(../imges/爱奇艺/images/picicon-bg-20190322.png);
  background-size: 6.8rem auto;
  background-position: -3rem 0rem;
  position: absolute;
  top: 0rem;
  right: .053333rem;
}

#aiqiyi .aqy-main2 .list li:nth-child(2) span {
  background-position: -1.4rem 0rem;
}

#aiqiyi .aqy-main2 .list li:nth-child(4) span {
  background-position: 0.22rem 0rem;
}

#aiqiyi .aqy-main3 {
  border-bottom: .013333rem solid #f7f7f7;
}

#aiqiyi .aqy-main3 .top .content {
  margin: .4rem 0rem .506667rem .32rem;
}

#aiqiyi .aqy-main3 .top .content .list li:nth-child(1) {
  display: flex;
  margin-bottom: .466667rem;
}

#aiqiyi .aqy-main3 .top .content .list li:nth-child(1) i {
  display: block;
  width: .96rem;
  height: .96rem;
  background: url(../imges/爱奇艺/images/channel-icon-20180918.png);
  background-size: 5.76rem auto;
  background-position: 0rem 0rem;
}

#aiqiyi .aqy-main3 .top .content .list li:nth-child(1) span {
  font-size: .373333rem;
  line-height: .96rem;
  font-weight: 620;
  color: #313131;
  margin-left: .2rem;
}

#aiqiyi .aqy-main3 .top .content .list li:nth-child(2) {
  display: flex;
  margin-left: .133333rem;
  font-size: .346667rem;
  line-height: .346667rem;
  font-weight: 600;
  color: #353535;
  margin-bottom: .4rem;
}

#aiqiyi .aqy-main3 .top .content .list li:nth-child(2) i {
  font-size: .426667rem;
  color: #abdcfc;
}

#aiqiyi .aqy-main3 .top .content .list li:nth-child(3) {
  display: flex;
  margin-left: .133333rem;
  font-size: .346667rem;
  line-height: .346667rem;
  font-weight: 600;
  color: #353535;
}

#aiqiyi .aqy-main3 .top .content .list li:nth-child(3) i {
  font-size: .426667rem;
  color: #abdcfc;
}

#aiqiyi .aqy-main3 .middle .list {
  display: flex;
  justify-content: space-between;
}

#aiqiyi .aqy-main3 .middle .list li {
  position: relative;
}

#aiqiyi .aqy-main3 .middle .list li i img {
  width: 4.96rem;
  height: 2.8rem;
}

#aiqiyi .aqy-main3 .middle .list li p {
  font-size: .346667rem;
  line-height: .346667rem;
  margin-top: .266667rem;
  color: #373737;
  font-weight: 600;
  margin-left: .333333rem;
}

#aiqiyi .aqy-main3 .middle .list li .shijian {
  position: absolute;
  bottom: .8rem;
}

#aiqiyi .aqy-main3 .middle .list li .shijian .cont {
  width: 4.346667rem;
  margin-left: .32rem;
  display: flex;
  justify-content: space-between;
}

#aiqiyi .aqy-main3 .middle .list li .shijian .cont span {
  font-size: .24rem;
  color: #fff;
}

#aiqiyi .aqy-main3 .bottom .content {
  width: 7.04rem;
  margin: auto;
  margin-top: 1.173333rem;
  margin-bottom: .6rem;
}

#aiqiyi .aqy-main3 .bottom .content .list {
  display: flex;
  justify-content: space-between;
}

#aiqiyi .aqy-main3 .bottom .content .list li {
  width: 2.16rem;
  height: .506667rem;
  background: #f9ffff;
  font-size: .333333rem;
  color: #1baf1b;
}

#aiqiyi .aqy-main3 .bottom .content .list li i {
  font-size: .373333rem;
  color: #0cbf04;
  margin-right: .186667rem;
}

#aiqiyi .aqy-main4 {
  border-bottom: .013333rem solid #f7f7f7;
}

#aiqiyi .aqy-main4 .title {
  height: 1.306667rem;
  margin-left: .346667rem;
  line-height: 1.306667rem;
  display: flex;
  margin-top: .266667rem;
}

#aiqiyi .aqy-main4 .title i {
  display: block;
  width: .96rem;
  height: .96rem;
  background: url(../imges/爱奇艺/images/channel-icon-20180918.png);
  background-size: 5.76rem auto;
  background-position: -0.96rem 0rem;
}

#aiqiyi .aqy-main4 .title span {
  font-size: .4rem;
  line-height: .96rem;
  color: #313131;
  font-weight: 600;
  margin-left: .2rem;
}

#aiqiyi .aqy-main4 .list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#aiqiyi .aqy-main4 .list li {
  position: relative;
}

#aiqiyi .aqy-main4 .list li i img {
  width: 3.293333rem;
  height: 4.373333rem;
}

#aiqiyi .aqy-main4 .list li h3 {
  font-size: .346667rem;
  color: #303030;
  font-weight: 600;
  line-height: .346667rem;
  text-align: center;
  margin-top: .266667rem;
  margin-bottom: .373333rem;
}

#aiqiyi .aqy-main4 .list li span {
  display: block;
  width: 1.733333rem;
  height: .8rem;
  background: url(../imges/爱奇艺/images/picicon-bg-20190322.png);
  background-size: 6.8rem auto;
  background-position: -3rem 0rem;
  position: absolute;
  top: 0rem;
  right: .053333rem;
}

#aiqiyi .aqy-main4 .list li:nth-child(6) span {
  background-position: 0.22rem 0rem;
}

#aiqiyi .aqy-main4 .bottom .content {
  width: 7.04rem;
  margin: auto;
  margin-top: .746667rem;
  margin-bottom: .6rem;
}

#aiqiyi .aqy-main4 .bottom .content .list {
  display: flex;
  justify-content: space-between;
}

#aiqiyi .aqy-main4 .bottom .content .list li {
  width: 2.666667rem;
  height: .506667rem;
  background: #f9ffff;
  font-size: .333333rem;
  color: #1baf1b;
}

#aiqiyi .aqy-main4 .bottom .content .list li i {
  font-size: .373333rem;
  color: #0cbf04;
  margin-right: .186667rem;
}

#aiqiyi .aqy-main5 {
  border-bottom: .013333rem solid #f7f7f7;
}

#aiqiyi .aqy-main5 .title {
  height: 1.306667rem;
  margin-left: .346667rem;
  line-height: 1.306667rem;
  display: flex;
  margin-top: .266667rem;
}

#aiqiyi .aqy-main5 .title i {
  display: block;
  width: .96rem;
  height: .96rem;
  background: url(../imges/爱奇艺/images/channel-icon-20180918.png);
  background-size: 5.76rem auto;
  background-position: -1.92rem 0rem;
}

#aiqiyi .aqy-main5 .title span {
  font-size: .4rem;
  line-height: .96rem;
  color: #313131;
  font-weight: 600;
  margin-left: .2rem;
}

#aiqiyi .aqy-main5 .list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#aiqiyi .aqy-main5 .list li {
  position: relative;
}

#aiqiyi .aqy-main5 .list li i img {
  width: 3.293333rem;
  height: 4.373333rem;
}

#aiqiyi .aqy-main5 .list li h3 {
  font-size: .346667rem;
  color: #303030;
  font-weight: 600;
  line-height: .346667rem;
  text-align: center;
  margin-top: .266667rem;
  margin-bottom: .373333rem;
}

#aiqiyi .aqy-main5 .list li span {
  display: block;
  width: 1.733333rem;
  height: .8rem;
  background: url(../imges/爱奇艺/images/picicon-bg-20190322.png);
  background-size: 6.8rem auto;
  background-position: -3rem 0rem;
  position: absolute;
  top: 0rem;
  right: .053333rem;
}

#aiqiyi .aqy-main5 .list li:nth-child(1) span {
  background-position: -1.4rem 0rem;
}

#aiqiyi .aqy-main5 .list li:nth-child(2) span {
  background-position: 0.22rem 0rem;
}

#aiqiyi .aqy-main5 .list li:nth-child(3) span {
  background-position: -3rem -0.8rem;
}

#aiqiyi .aqy-main5 .list li:nth-child(4) span {
  background-position: 0.22rem 0rem;
}

#aiqiyi .aqy-main5 .list li:nth-child(5) span {
  background-position: 0.22rem 0rem;
}

#aiqiyi .aqy-main5 .bottom .content {
  width: 7.04rem;
  margin: auto;
  margin-top: .746667rem;
  margin-bottom: .6rem;
}

#aiqiyi .aqy-main5 .bottom .content .list {
  display: flex;
  justify-content: space-between;
}

#aiqiyi .aqy-main5 .bottom .content .list li {
  width: 2.666667rem;
  height: .506667rem;
  background: #f9ffff;
  font-size: .333333rem;
  color: #1baf1b;
}

#aiqiyi .aqy-main5 .bottom .content .list li i {
  font-size: .373333rem;
  color: #0cbf04;
  margin-right: .186667rem;
}

#aiqiyi .aqy-main6 {
  border-bottom: .013333rem solid #f7f7f7;
}

#aiqiyi .aqy-main6 .title {
  height: 1.306667rem;
  margin-left: .346667rem;
  line-height: 1.306667rem;
  display: flex;
  margin-top: .266667rem;
}

#aiqiyi .aqy-main6 .title i {
  display: block;
  width: .96rem;
  height: .96rem;
  background: url(../imges/爱奇艺/images/channel-icon-20180918.png);
  background-size: 5.76rem auto;
  background-position: -2.88rem 0rem;
}

#aiqiyi .aqy-main6 .title span {
  font-size: .4rem;
  line-height: .96rem;
  color: #313131;
  font-weight: 600;
  margin-left: .2rem;
}

#aiqiyi .aqy-main6 .list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#aiqiyi .aqy-main6 .list li {
  position: relative;
}

#aiqiyi .aqy-main6 .list li i img {
  width: 3.293333rem;
  height: 4.373333rem;
}

#aiqiyi .aqy-main6 .list li h3 {
  font-size: .346667rem;
  color: #303030;
  font-weight: 600;
  line-height: .346667rem;
  text-align: center;
  margin-top: .266667rem;
  margin-bottom: .373333rem;
}

#aiqiyi .aqy-main6 .list li span {
  display: block;
  width: 1.733333rem;
  height: .8rem;
  background: url(../imges/爱奇艺/images/picicon-bg-20190322.png);
  background-size: 6.8rem auto;
  background-position: -1.4rem 0rem;
  position: absolute;
  top: 0rem;
  right: .053333rem;
}

#aiqiyi .aqy-main6 .list li:nth-child(1) span {
  background-position: 0.22rem 0rem;
}

#aiqiyi .aqy-main6 .list li:nth-child(4) span {
  background-position: -3rem 0rem;
}

#aiqiyi .aqy-main6 .list li:nth-child(6) span {
  background-position: 0.22rem 0rem;
}

#aiqiyi .aqy-main6 .bottom .content {
  width: 7.04rem;
  margin: auto;
  margin-top: .746667rem;
  margin-bottom: .6rem;
}

#aiqiyi .aqy-main6 .bottom .content .list {
  display: flex;
  justify-content: center;
}

#aiqiyi .aqy-main6 .bottom .content .list li {
  width: 2.346667rem;
  height: .506667rem;
  background: #f9ffff;
  font-size: .333333rem;
  color: #1baf1b;
}

#aiqiyi .aqy-main6 .bottom .content .list li i {
  font-size: .373333rem;
  color: #0cbf04;
  margin-right: .186667rem;
}

#aiqiyi .aqy-main7 {
  border-bottom: .013333rem solid #f7f7f7;
}

#aiqiyi .aqy-main7 .title {
  height: 1.306667rem;
  margin-left: .346667rem;
  line-height: 1.306667rem;
  display: flex;
  margin-top: .266667rem;
}

#aiqiyi .aqy-main7 .title i {
  display: block;
  width: .96rem;
  height: .96rem;
  background: url(../imges/爱奇艺/images/channel-icon-20180918.png);
  background-size: 5.76rem auto;
  background-position: -1.92rem -2.88rem;
}

#aiqiyi .aqy-main7 .title span {
  font-size: .4rem;
  line-height: .96rem;
  color: #313131;
  font-weight: 600;
  margin-left: .2rem;
}

#aiqiyi .aqy-main7 .list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#aiqiyi .aqy-main7 .list li {
  position: relative;
}

#aiqiyi .aqy-main7 .list li i img {
  width: 4.96rem;
  height: 2.8rem;
}

#aiqiyi .aqy-main7 .list li h3 {
  font-size: .346667rem;
  color: #303030;
  font-weight: 600;
  line-height: .346667rem;
  margin-left: .333333rem;
  margin-top: .266667rem;
}

#aiqiyi .aqy-main7 .list li .shijian {
  position: absolute;
  bottom: .8rem;
}

#aiqiyi .aqy-main7 .list li .shijian .cont {
  width: 4.346667rem;
  margin-left: .32rem;
  display: flex;
  justify-content: flex-end;
}

#aiqiyi .aqy-main7 .list li .shijian .cont .sp {
  font-size: .24rem;
  color: #fff;
}

#aiqiyi .aqy-main7 .list li .sp3 {
  display: block;
  width: 1.733333rem;
  height: .8rem;
  line-height: .8rem;
  background: url(../imges/爱奇艺/images/picicon-bg-20190322.png);
  background-size: 6.8rem auto;
  background-position: 0.22rem 0rem;
  position: absolute;
  top: 0rem;
  right: .053333rem;
}

#aiqiyi .aqy-main7 .list li:nth-child(2) span {
  background-position: -3rem 0rem;
}

#aiqiyi .aqy-main7 .bottom .content {
  width: 7.04rem;
  margin: auto;
  margin-top: .746667rem;
  margin-bottom: .6rem;
}

#aiqiyi .aqy-main7 .bottom .content .list {
  display: flex;
  justify-content: center;
}

#aiqiyi .aqy-main7 .bottom .content .list li {
  width: 2.346667rem;
  height: .506667rem;
  background: #f9ffff;
}

#aiqiyi .aqy-main7 .bottom .content .list li a {
  font-size: .333333rem;
  color: #1baf1b;
}

#aiqiyi .aqy-main7 .bottom .content .list li i {
  font-size: .373333rem;
  color: #0cbf04;
  margin-right: .186667rem;
}

#aiqiyi .aqy-main8 {
  border-bottom: .013333rem solid #f7f7f7;
}

#aiqiyi .aqy-main8 .title {
  height: 1.306667rem;
  margin-left: .346667rem;
  line-height: 1.306667rem;
  display: flex;
  margin-top: .266667rem;
}

#aiqiyi .aqy-main8 .title i {
  display: block;
  width: .96rem;
  height: .96rem;
  background: url(../imges/爱奇艺/images/channel-icon-20180918.png);
  background-size: 5.76rem auto;
  background-position: -2.88rem -2.88rem;
}

#aiqiyi .aqy-main8 .title span {
  font-size: .4rem;
  line-height: .96rem;
  color: #313131;
  font-weight: 600;
  margin-left: .2rem;
}

#aiqiyi .aqy-main8 .list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#aiqiyi .aqy-main8 .list li {
  position: relative;
}

#aiqiyi .aqy-main8 .list li i img {
  width: 4.96rem;
  height: 2.8rem;
}

#aiqiyi .aqy-main8 .list li h3 {
  font-size: .346667rem;
  color: #303030;
  font-weight: 600;
  line-height: .346667rem;
  margin-left: .333333rem;
  margin-top: .266667rem;
}

#aiqiyi .aqy-main8 .list li .shijian {
  position: absolute;
  bottom: .8rem;
}

#aiqiyi .aqy-main8 .list li .shijian .cont {
  width: 4.346667rem;
  margin-left: .32rem;
  display: flex;
  justify-content: flex-end;
}

#aiqiyi .aqy-main8 .list li .shijian .cont .sp {
  font-size: .24rem;
  color: #fff;
}

#aiqiyi .aqy-main8 .list li .sp3 {
  display: block;
  width: 1.733333rem;
  height: .8rem;
  line-height: .8rem;
  background: url(../imges/爱奇艺/images/picicon-bg-20190322.png);
  background-size: 6.8rem auto;
  background-position: 0.22rem 0rem;
  position: absolute;
  top: 0rem;
  right: .053333rem;
}

#aiqiyi .aqy-main8 .bottom .content {
  width: 7.04rem;
  margin: auto;
  margin-top: .746667rem;
  margin-bottom: .6rem;
}

#aiqiyi .aqy-main8 .bottom .content .list {
  display: flex;
  justify-content: center;
}

#aiqiyi .aqy-main8 .bottom .content .list li {
  width: 2.346667rem;
  height: .506667rem;
  background: #f9ffff;
}

#aiqiyi .aqy-main8 .bottom .content .list li a {
  font-size: .333333rem;
  color: #1baf1b;
}

#aiqiyi .aqy-main8 .bottom .content .list li i {
  font-size: .373333rem;
  color: #0cbf04;
  margin-right: .186667rem;
}

#aiqiyi .aqy-main9 {
  border-bottom: .013333rem solid #f7f7f7;
}

#aiqiyi .aqy-main9 .title {
  height: 1.306667rem;
  margin-left: .346667rem;
  line-height: 1.306667rem;
  display: flex;
  margin-top: .266667rem;
}

#aiqiyi .aqy-main9 .title i {
  display: block;
  width: .96rem;
  height: .96rem;
  background: url(../imges/爱奇艺/images/channel-icon-20180918.png);
  background-size: 5.76rem auto;
  background-position: -3.84rem -2.88rem;
}

#aiqiyi .aqy-main9 .title span {
  font-size: .4rem;
  line-height: .96rem;
  color: #313131;
  font-weight: 600;
  margin-left: .2rem;
}

#aiqiyi .aqy-main9 .list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#aiqiyi .aqy-main9 .list li {
  position: relative;
}

#aiqiyi .aqy-main9 .list li i img {
  width: 4.96rem;
  height: 2.8rem;
}

#aiqiyi .aqy-main9 .list li h3 {
  font-size: .346667rem;
  color: #303030;
  font-weight: 600;
  line-height: .346667rem;
  margin-left: .333333rem;
  margin-top: .266667rem;
}

#aiqiyi .aqy-main9 .list li .shijian {
  position: absolute;
  bottom: .8rem;
}

#aiqiyi .aqy-main9 .list li .shijian .cont {
  width: 4.346667rem;
  margin-left: .32rem;
  display: flex;
  justify-content: flex-end;
}

#aiqiyi .aqy-main9 .list li .shijian .cont .sp {
  font-size: .24rem;
  color: #fff;
}

#aiqiyi .aqy-main9 .bottom .content {
  width: 7.04rem;
  margin: auto;
  margin-top: .746667rem;
  margin-bottom: .6rem;
}

#aiqiyi .aqy-main9 .bottom .content .list {
  display: flex;
  justify-content: center;
}

#aiqiyi .aqy-main9 .bottom .content .list li {
  width: 2.346667rem;
  height: .506667rem;
  background: #f9ffff;
}

#aiqiyi .aqy-main9 .bottom .content .list li a {
  font-size: .333333rem;
  color: #1baf1b;
}

#aiqiyi .aqy-main9 .bottom .content .list li i {
  font-size: .373333rem;
  color: #0cbf04;
  margin-right: .186667rem;
}

#aiqiyi .aqy-main10 {
  border-bottom: .013333rem solid #f7f7f7;
}

#aiqiyi .aqy-main10 .title {
  height: 1.306667rem;
  margin-left: .346667rem;
  line-height: 1.306667rem;
  display: flex;
  margin-top: .266667rem;
}

#aiqiyi .aqy-main10 .title i {
  display: block;
  width: .96rem;
  height: .96rem;
  background: url(../imges/爱奇艺/images/channel-icon-20180918.png);
  background-size: 5.76rem auto;
  background-position: -4.8rem -2.88rem;
}

#aiqiyi .aqy-main10 .title span {
  font-size: .4rem;
  line-height: .96rem;
  color: #313131;
  font-weight: 600;
  margin-left: .2rem;
}

#aiqiyi .aqy-main10 .list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#aiqiyi .aqy-main10 .list li {
  position: relative;
}

#aiqiyi .aqy-main10 .list li i img {
  width: 4.96rem;
  height: 2.8rem;
}

#aiqiyi .aqy-main10 .list li h3 {
  font-size: .346667rem;
  color: #303030;
  font-weight: 600;
  line-height: .346667rem;
  margin-left: .333333rem;
  margin-top: .266667rem;
}

#aiqiyi .aqy-main10 .list li .shijian {
  position: absolute;
  bottom: .8rem;
}

#aiqiyi .aqy-main10 .list li .shijian .cont {
  width: 4.346667rem;
  margin-left: .32rem;
  display: flex;
  justify-content: flex-end;
}

#aiqiyi .aqy-main10 .list li .shijian .cont .sp {
  font-size: .24rem;
  color: #fff;
}

#aiqiyi .aqy-main10 .list li .sp3 {
  display: block;
  width: 1.733333rem;
  height: .8rem;
  line-height: .8rem;
  background: url(../imges/爱奇艺/images/picicon-bg-20190322.png);
  background-size: 6.8rem auto;
  background-position: -3rem 0rem;
  position: absolute;
  top: 0rem;
  right: .053333rem;
}

#aiqiyi .aqy-main10 .list li:nth-child(2) span {
  background-position: -3rem 0rem;
}

#aiqiyi .aqy-main10 .bottom .content {
  width: 7.04rem;
  margin: auto;
  margin-top: .746667rem;
  margin-bottom: .6rem;
}

#aiqiyi .aqy-main10 .bottom .content .list {
  display: flex;
  justify-content: center;
}

#aiqiyi .aqy-main10 .bottom .content .list li {
  width: 2.346667rem;
  height: .506667rem;
  background: #f9ffff;
}

#aiqiyi .aqy-main10 .bottom .content .list li a {
  font-size: .333333rem;
  color: #1baf1b;
}

#aiqiyi .aqy-main10 .bottom .content .list li i {
  font-size: .373333rem;
  color: #0cbf04;
  margin-right: .186667rem;
}

#aiqiyi .aqy-main11 {
  border-bottom: .013333rem solid #f7f7f7;
}

#aiqiyi .aqy-main11 .title {
  height: 1.306667rem;
  margin-left: .346667rem;
  line-height: 1.306667rem;
  display: flex;
  margin-top: .266667rem;
}

#aiqiyi .aqy-main11 .title i {
  display: block;
  width: .96rem;
  height: .96rem;
  background: url(../imges/爱奇艺/images/channel-icon-20180918.png);
  background-size: 5.76rem auto;
  background-position: 0rem -3.84rem;
}

#aiqiyi .aqy-main11 .title span {
  font-size: .4rem;
  line-height: .96rem;
  color: #313131;
  font-weight: 600;
  margin-left: .2rem;
}

#aiqiyi .aqy-main11 .list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#aiqiyi .aqy-main11 .list li {
  position: relative;
}

#aiqiyi .aqy-main11 .list li i img {
  width: 4.96rem;
  height: 2.8rem;
}

#aiqiyi .aqy-main11 .list li h3 {
  font-size: .346667rem;
  color: #303030;
  font-weight: 600;
  line-height: .346667rem;
  margin-left: .333333rem;
  margin-top: .266667rem;
}

#aiqiyi .aqy-main11 .list li .shijian {
  position: absolute;
  bottom: .8rem;
}

#aiqiyi .aqy-main11 .list li .shijian .cont {
  width: 4.346667rem;
  margin-left: .32rem;
  display: flex;
  justify-content: flex-end;
}

#aiqiyi .aqy-main11 .list li .shijian .cont .sp {
  font-size: .24rem;
  color: #fff;
}

#aiqiyi .aqy-main11 .list li .sp3 {
  display: block;
  width: 1.733333rem;
  height: .8rem;
  line-height: .8rem;
  background: url(../imges/爱奇艺/images/picicon-bg-20190322.png);
  background-size: 6.8rem auto;
  background-position: -3rem 0rem;
  position: absolute;
  top: 0rem;
  right: .053333rem;
}

#aiqiyi .aqy-main11 .list li:nth-child(2) span {
  background-position: -3rem 0rem;
}

#aiqiyi .aqy-main11 .bottom .content {
  width: 7.04rem;
  margin: auto;
  margin-top: .746667rem;
  margin-bottom: .6rem;
}

#aiqiyi .aqy-main11 .bottom .content .list {
  display: flex;
  justify-content: center;
}

#aiqiyi .aqy-main11 .bottom .content .list li {
  width: 2.346667rem;
  height: .506667rem;
  background: #f9ffff;
}

#aiqiyi .aqy-main11 .bottom .content .list li a {
  font-size: .333333rem;
  color: #1baf1b;
}

#aiqiyi .aqy-main11 .bottom .content .list li i {
  font-size: .373333rem;
  color: #0cbf04;
  margin-right: .186667rem;
}

#aiqiyi .aqy-main .title {
  height: 1.306667rem;
  margin-left: .346667rem;
  line-height: 1.306667rem;
  display: flex;
  margin-top: .266667rem;
}

#aiqiyi .aqy-main .title i {
  display: block;
  width: .96rem;
  height: .96rem;
  background: url(../imges/爱奇艺/images/channel-icon-20180918.png);
  background-size: 5.76rem auto;
  background-position: -0.96rem -3.84rem;
}

#aiqiyi .aqy-main .title span {
  font-size: .4rem;
  line-height: .96rem;
  color: #313131;
  font-weight: 600;
  margin-left: .2rem;
}

#aiqiyi .aqy-main .list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#aiqiyi .aqy-main .list li i img {
  width: 2.133333rem;
  height: 2.133333rem;
}

#aiqiyi .aqy-main .list li h3 {
  font-size: .346667rem;
  color: #303030;
  font-weight: 600;
  line-height: .346667rem;
  text-align: center;
  margin-top: .266667rem;
}

#aiqiyi .aqy-footer {
  margin-top: .8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aiqiyi .aqy-footer i {
  display: block;
  width: 2.693333rem;
  height: 1.266667rem;
  background: url(../imges/爱奇艺/images/iqiyi-logo.png) center center;
  background-size: 100% 100%;
  opacity: .2;
}

#aiqiyi .aqy-footer .bottom {
  width: 2.666667rem;
  display: flex;
  justify-content: space-around;
  margin-top: .16rem;
  margin-bottom: .933333rem;
}

#aiqiyi .aqy-footer .bottom span {
  font-size: .213333rem;
  color: #dbdbdb;
  line-height: .213333rem;
}
