*{
    margin: 0;
    padding: 0;
}
html{
  background-color: pink;  
}
#wolong{
   width: 1000px;
   height: 1500px;
   margin: auto;
}
#wolong .header{
    width: 1000px;
    height: 100px;
    background-color:white; 
    /* background-image: url(../images/header.png); */
    background-repeat: no-repeat;
    /* border: 1px solid red; */
    /* background-image: url(../images/heder1.png); */

}
.hh1{
    width: 268px;
    height: 100px;
    background-image: url(../images/header.png);
    /* background-size: 100%; */
    /* border: 1px solid red; */
}
.hh2{
    width: 268px;
    height: 100px; 
    background: url(../images/heder1.png) no-repeat;
    float: left;
    margin-left: 750px;
    margin-top: -60px;
}

#wolong .nav{
    width: 1000px;
    height: 59px;
    background-color: #2d2d2d;
}
.nav ul{
    height: 59px;
    width: 1000px; 
    list-style: none;
    text-align: center;
    /* border: 1px solid red; */
}
.li1 li{
    height: 59px;
    width: 112.5px;
    float: left;
    margin-top: -40px;
    /* border: 1px solid red; */
}
.li1 li:hover{
    background-color: blue;
}

.li1 li:nth-child(1){ 
    margin-left: 45px;
    /* border-right: 1px solid rgba(73,73,73,1);  */
} 
.li1 li:nth-child{
    border-right: 1px solid rgba(73,73,73,1);
} 
/* .li1 li:nth-child(3){
    border-right: 1px solid rgba(73,73,73,1);
}
.li1 li:nth-child(4){
    border-right: 1px solid rgba(73,73,73,1);
}
.li1 li:nth-child(5){
    border-right: 1px solid rgba(73,73,73,1);
}
.li1 li:nth-child(6){
    border-right: 1px solid rgba(73,73,73,1);
}
.li1 li:nth-child(7){
    border-right: 1px solid rgba(73,73,73,1);
} */
.li1 li>a{
    font-size: 14px;
    color: #f5f5f5;
    line-height: 59px;
    text-align: center;
}
#wolong .banner{
    width: 1000px;
    height: 464px;
    background-image: url(../images/banner.png);
}
        
#wolong .main1{
    width: 1000px;
    height: 240px;
    /* background-color:yellow; */
}
.main1 .m1{
    width: 500px;
    height: 240px;
    background-color: #ffffff;
    /* background-color: aqua; */
    float: left;
}
/* .main1 .c{
    height: 144px;
    line-height: 144px; 
    border: 1px solid red;
}  */
.main1 h3{
    font-size: 17px;
    line-height: 17px;
    /* margin-top: 37px;
    margin-left: 22px;
    margin-bottom: 18px; */
    color: #585858;
    margin:37px 0px 18px 22px;
}
.main1 .ulul .li2{
    /* width: 500px;
    height: 145px;
    border: 1px solid red; */
    background-image: url(../images/ll.png);
    background-position: 0px center;
    background-repeat: no-repeat; 
 }

.main1 .ulul li{
    margin-left: 41px;
    list-style: none; 
    margin-left: 36px;
}
.main1 .ulul span{
    line-height: 24px;  
}
.main1 .ulul .sp1{
    font-size: 12px;
    color: #888888;
    text-decoration: none;
}
.main1 .ulul .sp2{
    float: right;
    color: #a6a6a6;
    font-size: 9px;
    padding-right: 32px;
}


.main1 .m2{
    width: 240px;
    height: 240px;
    background-color:#f1f1f1;
    float: left;
}
.main1 .m2 h3{
    font-size: 18px;
    line-height: 18px;
    margin-top: 37px;
    color: #505050;
}
.main1 .m2 .m2p1{
    font-size: 14px;
    line-height: 25px;
    margin-top: 24.5px;
    color: #878787;
    margin-left: 25px;
    margin-right: 72px;
}
.main1 .m2 .m2p2{
    font-size: 12px;
    line-height: 24px;
    margin-top: 21.5px;
    color: #939393;
    margin-left: 25px;
    margin-right: 25px;
}


.main1 .m3{
    width: 260px;
    height: 240px;
    background-color:#fbfbfb;
    float: left;
}
.main1 .m3 .m3d{
    width: 100px;
    height: 117px;
    /* border: 1px solid red; */
    background: url(../images/main1-1.png) no-repeat;
    background-position: 25px 50px;
    float: left; 
 
} 
.main1 .m3 .m3d1{
    width: 92px;
    height: 102px;
    /* border: 1px solid red; */
    background: url(../images/main1-2.png) no-repeat;
    float: right; 
} 
.main1 .m3 p{
    font-size: 12px;
    line-height: 25px;
    margin-top: 14px;
    margin-left: 25px;
    margin-right: 55px;
    color: #666666;
}


#wolong .main2{
    width: 1000px;
    height: 300px;
    background-color:#ffffff;
}
.main2 h3{
    font-size:18px;
    line-height: 18px;
    color: #262626;
    /* padding-top:30px;
    padding-left: 23px; */
    padding: 31px 0px 11px 11px;
} 
.main2 div{
    width: 210px;
    height: 240px;
    /* border: 1px solid red; */
    float: left;
    margin-right: 40px;
    margin-top: 18px;
}
.main2 p{
    font-size: 12px;
    line-height: 25px;
    margin-top: 5px;
    color: #5b5b5b;
    margin-left: 4px;
}
.main2 .m2-1 {
    margin-left: 16px;
}
.main2 .m2-4 {
    margin-right: 16px;
}


#wolong .main3{
    width: 1000px;
    height: 270px;
    background-color:#e5e5e5;
}
.main3 .m3-1{
    width:452px;
    height: 250px;
    /* border: 1px solid red; */
    margin-left: 20px;
    margin-right: 45px;
    float: left;
    margin-top: -5px;
}
.main3 h3{
    font-size: 18px;
    line-height: 18px;
    color: #575757;
    padding: 31px 0px 11px 11px;
    /* padding-top:30px;
    padding-left: 23px; */
}

.main3 .m3-1-1{
    width: 76px;
    height: 120px;
    line-height: 120px;
    /* border: 1px solid green; */
    margin: 10px 81px 0px 6px;
    float: left;
}
.main3 .m3-1-2{
    width: 123px;
    height: 85px;
    /* border: 1px solid green; */
    margin: 10px 71px 0px 0px;
    float: left;
}
.main3 .m3-1-3,.m3-2-1{
    width: 75px;
    height: 84px;
    /* border: 1px solid green; */
    margin: 10px 10px 0px 0px;
    float: left;
}
.main3  li{
    list-style: none;
    font-size: 12px;
    line-height: 24px;
    color: #595959;
    background: url(../images/main3-fuhao.png) no-repeat; 
    background-position: 0 center ;
}
.main3 .m3-2{
    width: 153px;
    height: 250px;
    /* background-color:green; */
    margin-top: -5px;
    margin-right: 55px;
    float: left;
    /* transform: translateX(190px); */
}
.main3 .m3-2 .m3-2-1 li{
    margin-left: 10px;
} 
.m3-3{
    width: 275px;
    height: 250px;
    /* background-color: red; */
    margin-top: -5px;
    float: left;
  
}
/* .m3-3 h3{
    font-size: 16px;
    line-height: 16px;
    color: #575757;
    padding: 33px 0px 11px 11px;
} */
.main3 .m3-3-1{
    width:256px;
    height: 195px;
    background: url(../images/main3-3-1.png) no-repeat;
    /* float: right; */
    margin: 17px 0px 0px 34px;
}
hr{
    width: 96%;
}
.main3 a{
    margin-left: 11px;
    text-decoration: none;
    color: #626262;
}
.main3 a:hover{
    color: blue;
}

.footer{
    width: 1000px;
    height: 57.5px;
    background-color:#ffffff;
    padding-top: 26px;
}
#dddddd{
    width: 233px;
    height: 30px;
    text-align: center;
    margin-left: 15px;

    float: left;
}
.footer a{
    color: #929292;
    text-decoration: none;
    font-size: 10px;
}
.footer>#dddddd>a:hover{
    color: blue;
}
.footer a:visited{
    color: #929292;
    text-decoration: none;
}
.footer span{
    color: #858585;
    font-size: 11px;
}
.ff{
    width: 478px;
    height: 30px;
    margin-right: 18px;
    text-align: center;

    float: right;
    margin-right: 18px;
}
.ff>p:first-child{
    width: 361px;
    font-size: 10px;
    display: block;
    float: left;
    color: #929292;

    margin-top: 5.5px;
}
.ff>p:nth-child(2){
    font-size: 10px;
    display: block;
    float: left;
    color: #929292;

    margin-top: 5.5px;
}
#adddd{
    width: 72px;
    height: 13px;
    background: url(../images/ff.png) no-repeat;
    background-size: cover;
    margin-top: 5.5px;
    float: left;
}


