#wolong {
    width: 100%;
    height: 1500px;
    /* background: pink; */
}
#wolong  .content{
    width:960px;
    height: 100%;
    /* background: #ffff; */
    margin: auto;
}
.header{
    width: 100%;
    height: 100px;
    /* background: rebeccapurple; */
}
.header .logo {
    width: 243px;
    height: 100%;
    /* border:1px solid red; */
    background: url(../images/wolong-logo.png) no-repeat center center ;
    text-indent: -999px;
}
.header .search input{
    height: 29px;
    width:213px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    padding-left: 15px;
}
.header .search{
    margin-top: 39px;
}

.nav{
    width: 100%;
    height:56px;
    /* background: rgb(129, 23, 50); */
    background-color:#2e2e2e;
}
.nav ul{
    width:100%;
    height: 100%;
    /* border: 1px solid red; */
    overflow: hidden;
}
.nav li{
    width: 119px;
    height: 100%;
    border-right: 1px solid #494949;
    text-align: center;
}
.nav .li-last{
    border-right: none;
}
.nav a{
    display: block;   
    line-height:56px; 
    font-size: 14px;
    color: #f9f9f9;  
}
.nav a:hover{
    background-color: blue;
}

.banner{
    width: 100%;
    height: 466px;
    /* background: rgb(15, 21, 116); */
    background: url(../images/wolong-banner.png) center center; 
}

.main1{
    width: 100%;
    height: 242px;
    /* background: rgb(184, 181, 20); */
}
.main1 .main1-left{
    width: 480px;
    height: 100%;
    /* background-color: red; */
}
.main1 h2{
    font-size: 18px;
    line-height: 18px;
    color: #202020;
    margin-top: 37px;
}
.main1 ul{
    margin-top: 17px;
}
.main1 ul>li{
    overflow: hidden;
    background: url(../images/main1-fuhao.png) no-repeat left center;
} 
.main1-left .span1{
    font-size: 12px;
    line-height: 24px;
    color: #575757;
    width:260px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 9px;
}

.main1-left .span2{
    font-size: 10px;
    line-height: 24px;
    /* margin-top: 14px; */
    color: #ababab;  
    margin-right: 28px;
}

.main1 .main1-center{
    width: 240px;
    height: 100%;
    background-color: #f1f1f1;
}
.main1 .main1-center h2{
   margin-left: 25px;
}

.main1 .main1-center h3{
   white-space: pre-line;
   font-size: 13px;
   line-height: 25px;
   color: #505050;
   margin-top: 33px;
   margin-left: 25px;
 }
 .main1 .main1-center p{
    white-space: pre-line;
    font-size: 11px;
    color: #8f8f8f;
    line-height: 24px;
    margin: 14.5px 24px 0px 25px;
 }
 .main1 .main1-right h2{
     margin-left: 25px;
 }
.main1 .main1-right p{
    white-space: pre-line;
    font-size: 11px;
    line-height: 24px;
    color: #525252;
    margin-top: 14px;
    margin-left: 25px;
}
.main1 .main1-right{
    width: 240px;
    height: 100%;
    background-color: #fbfbfb;
    background: url(../images/main-center.png) no-repeat right bottom;
    margin-top: -15px;
}
.main1 .main1-right span{
    width: 66px;
    height: 19px;
    background-color: #aeaeae;
    font-size: 7px;
    color: #f0f0f0;
    display: block;
    text-align: center;
    margin-top: 56px;
    border-radius: 4px;
    margin-left: 25px;
}


.main2{
    width: 100%;
    height: 305px;
    overflow: hidden;
    background:#ffffff;
}
.main2 h2{
   font-size: 18px;
   line-height: 18px;
   margin-top: 29px;
   color: #0d0d0d;
   margin-bottom: 18px;
   /* border:  1px solid red; */
}
.main2 .content>div{
    width: 210px;
    height: 240px;
    background-color: #ffffff;
    float: left;
    margin-right: 40px;
}
.main2 .box1{
    background: url(../images/main2-1.png) no-repeat;
}
.main2 .box2{
    background: url(../images/main2-2.png) no-repeat;
}
.main2 .box3{
    background: url(../images/main2-3.png) no-repeat;
}
.main2 .box4{
    background: url(../images/main2-4.png) no-repeat;
}
.main2 .content p{
    white-space: pre-line;
    font-size: 11px;
    line-height: 24px;
    color: #4c4c4c;
    margin-top: 143px;
    margin-left: 9px;
    width: 195px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-inline-clamp:2;
    -webkit-box-orient: vertical;
} 
.main3{
    width: 100%;
    height: 250px;
    background: rgb(13, 2, 65);
}
/* .main3 .content>div{
    margin-right: 48px;
}
.main3 h2{
    font-size: 16px;
    line-height: 16px;
    margin-top: 31px;
}

.main3 .b1 ul{
    margin-right: 78px;
}
.main3 ul{
    font-size: 11px;
    line-height: 24px;
    color: #717171;
} */
.footer{
    width: 100%;
    height: 82px;
    overflow: hidden;
    background: rgb(89, 180, 119);
}