html,body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 820px;
    height: 200px;
    background: rgb(21, 128, 155);
    display: flex;
    justify-content:space-around;
     align-items: center;
}
.box .list{
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px -5px 0px 0px #bbbbbb inset,
    0px 5px 0px 0px #ffffff inset,
    -5px 0px 0px 0px #d7d7d7d7 inset,
    5px 0px 0px 0px #d7d7d7d7 inset;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}
.box  li span{
    width: 20px;
    height: 20px;
    background: #333333;
    border-radius: 50%;  
}
.box li div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box li:nth-child(1) {
    justify-content: center;
    align-items: center;
}
/* .box li:nth-child(2),li:nth-child(3){
    justify-content: space-between;
} */
.box li:nth-child(2)  span:nth-child(2){
    align-self: flex-end;
}

.box li:nth-child(3) span:nth-child(2){
    align-self: center;
}
.box li:nth-child(3) span:nth-child(3){
    align-self: flex-end;
}

.box li:nth-child(n+2) {
    justify-content: space-between;
}
/* .box li:nth-child(5) {
    justify-content: space-between;
} */
.box li:nth-child(5) div:nth-child(2){
    align-self: center;
}
/* .box li:nth-child(6){
    justify-content: space-between;

} */


